svg(viewBox="0 0 580 400" width="70vw" height="80vh" preserveAspectRatio="xMidYMid meet" x="0" y="0" )   
    g   
        clipPath(id="clip1")     
            path(d="m405.695 145.712-116.71 138.124c-37.167-41.737-86.606-98.474-121.045-142.939 34.547-30.163 32.278-29.173 58.645-54.09 43.678-.073 76.447-.6 120.126-.672l60.802 57.304z")
    g(clip-path="url(#clip1)")
        path(data-action="objAction" stroke="#000" id="svg__path" d="m405.695 145.712-116.71 138.124c-37.167-41.737-86.606-98.474-121.045-142.939 34.547-30.163 32.278-29.173 58.645-54.09 43.678-.073 76.447-.6 120.126-.672l60.802 57.304z" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#e21c40")
        text(data-action="objAction" text-anchor="middle" id="svg__text" x="290" y="200"  fill="#ffffff" font-size="145" font-weight="900")


